*.zip filter=lfs diff=lfs merge=lfs -text
my_load_part_* filter=lfs diff=lfs merge=lfs -text
my_load_part_aa filter=lfs diff=lfs merge=lfs -text
my_load_part_ab filter=lfs diff=lfs merge=lfs -text
my_load_part_ac filter=lfs diff=lfs merge=lfs -text
my_load_part_ad filter=lfs diff=lfs merge=lfs -text
my_load_part_a3 filter=lfs diff=lfs merge=lfs -text
my_load_part_ae filter=lfs diff=lfs merge=lfs -text
my_load_part_af filter=lfs diff=lfs merge=lfs -text
my_load_part_ag filter=lfs diff=lfs merge=lfs -text
my_load_part_ah filter=lfs diff=lfs merge=lfs -text
my_load_part_ai filter=lfs diff=lfs merge=lfs -text
my_load_part_aj filter=lfs diff=lfs merge=lfs -text
my_load_part_bd filter=lfs diff=lfs merge=lfs -text
my_load_part_bf filter=lfs diff=lfs merge=lfs -text
my_load_part_bk filter=lfs diff=lfs merge=lfs -text
my_load_part_db filter=lfs diff=lfs merge=lfs -text
my_load_part_dg filter=lfs diff=lfs merge=lfs -text
my_load_part_dh filter=lfs diff=lfs merge=lfs -text
my_load_part_bn filter=lfs diff=lfs merge=lfs -text
my_load_part_ch filter=lfs diff=lfs merge=lfs -text
my_load_part_df filter=lfs diff=lfs merge=lfs -text
my_load_part_dj filter=lfs diff=lfs merge=lfs -text
my_load_part_dk filter=lfs diff=lfs merge=lfs -text
my_load_part_dm filter=lfs diff=lfs merge=lfs -text
my_load_part_dn filter=lfs diff=lfs merge=lfs -text
my_load_part_dp filter=lfs diff=lfs merge=lfs -text
my_load_part_bb filter=lfs diff=lfs merge=lfs -text
my_load_part_by filter=lfs diff=lfs merge=lfs -text
my_load_part_cc filter=lfs diff=lfs merge=lfs -text
my_load_part_cu filter=lfs diff=lfs merge=lfs -text
my_load_part_dd filter=lfs diff=lfs merge=lfs -text
my_load_part_cz filter=lfs diff=lfs merge=lfs -text
my_load_part_bg filter=lfs diff=lfs merge=lfs -text
my_load_part_br filter=lfs diff=lfs merge=lfs -text
my_load_part_bs filter=lfs diff=lfs merge=lfs -text
my_load_part_bw filter=lfs diff=lfs merge=lfs -text
my_load_part_dr filter=lfs diff=lfs merge=lfs -text
my_load_part_cq filter=lfs diff=lfs merge=lfs -text
my_load_part_cv filter=lfs diff=lfs merge=lfs -text
my_load_part_cw filter=lfs diff=lfs merge=lfs -text
my_load_part_bc filter=lfs diff=lfs merge=lfs -text
my_load_part_ca filter=lfs diff=lfs merge=lfs -text
my_load_part_cf filter=lfs diff=lfs merge=lfs -text
my_load_part_cj filter=lfs diff=lfs merge=lfs -text
my_load_part_cl filter=lfs diff=lfs merge=lfs -text
my_load_part_cg filter=lfs diff=lfs merge=lfs -text
my_load_part_cn filter=lfs diff=lfs merge=lfs -text
my_load_part_ct filter=lfs diff=lfs merge=lfs -text
my_load_part_de filter=lfs diff=lfs merge=lfs -text
my_load_part_cd filter=lfs diff=lfs merge=lfs -text
my_load_part_dc filter=lfs diff=lfs merge=lfs -text
my_load_part_bi filter=lfs diff=lfs merge=lfs -text
my_load_part_bm filter=lfs diff=lfs merge=lfs -text
my_load_part_bo filter=lfs diff=lfs merge=lfs -text
my_load_part_bu filter=lfs diff=lfs merge=lfs -text
my_load_part_cb filter=lfs diff=lfs merge=lfs -text
my_load_part_bp filter=lfs diff=lfs merge=lfs -text
my_load_part_do filter=lfs diff=lfs merge=lfs -text
my_load_part_bl filter=lfs diff=lfs merge=lfs -text
my_load_part_bt filter=lfs diff=lfs merge=lfs -text
my_load_part_cp filter=lfs diff=lfs merge=lfs -text
my_load_part_di filter=lfs diff=lfs merge=lfs -text
my_load_part_cm filter=lfs diff=lfs merge=lfs -text
my_load_part_da filter=lfs diff=lfs merge=lfs -text
my_load_part_bx filter=lfs diff=lfs merge=lfs -text
my_load_part_ck filter=lfs diff=lfs merge=lfs -text
my_load_part_cr filter=lfs diff=lfs merge=lfs -text
my_load_part_dq filter=lfs diff=lfs merge=lfs -text
my_load_part_bv filter=lfs diff=lfs merge=lfs -text
my_load_part_dl filter=lfs diff=lfs merge=lfs -text
my_load_part_bh filter=lfs diff=lfs merge=lfs -text
my_load_part_bj filter=lfs diff=lfs merge=lfs -text
my_load_part_co filter=lfs diff=lfs merge=lfs -text
my_load_part_cy filter=lfs diff=lfs merge=lfs -text
my_load_part_ba filter=lfs diff=lfs merge=lfs -text
my_load_part_be filter=lfs diff=lfs merge=lfs -text
my_load_part_bq filter=lfs diff=lfs merge=lfs -text
my_load_part_cx filter=lfs diff=lfs merge=lfs -text
my_load_part_bz filter=lfs diff=lfs merge=lfs -text
my_load_part_ce filter=lfs diff=lfs merge=lfs -text
my_load_part_ci filter=lfs diff=lfs merge=lfs -text
my_load_part_cs filter=lfs diff=lfs merge=lfs -text
